<!doctype html>
<html>
<head>
  <title>Find your perfect vacation destination</title>
  <link href='/static/css/bootstrap.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!-- navigation bar-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          </button> 
          <a class="navbar-brand" href="/">Chose your next holiday!</a>
        </div>      
      </div><!-- /.navbar-collapse -->
    </nav>
    <!-- navigation bar ends-->

    <h1><center><h1> Your perfect travel destination is... <b>China!</b></h1></center></h1>
  

<!-- images -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src='/static/images/china1.jpg'  style="width:100%" height="300">
      </div>

        <div class="col-sm-4">
          <img src='/static/images/china2.jpg'  style="width:100%" height="300">
        </div>

    <div class="col-sm-4">
      <img src='/static/images/china3.jpg'  style="width:100%" height="300">
    </div>
  </div>
  </div>
  <br></br>
  <!-- images end and line break  -->

  <div name="info" id="info">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
    <p><it>China. The name alone makes you want to get packing. It's going places, so jump aboard, go along for the ride and see where it's headed.</it><br>
    <b>Breathtaking Antiquity</b><br>
    Its modern face is dazzling, but China is no one-trick pony. The world's oldest continuous civilisation isn't all smoked glass and brushed aluminium and while you won't be tripping over artefacts – three decades of round-the-clock development and rash town planning have taken their toll – rich seams of antiquity await. Serve it all up according to taste: collapsing sections of the Great Wall, temple-topped mountains, villages that time forgot, languorous water towns, sublime Buddhist grottoes and ancient desert forts. Pack a well-made pair of travelling shoes and remember the words of Laotzu: 'a journey of a thousand miles begins with a single step'.<br>
    <b>Stupendous Scenery</b><br>
    Few countries do the Big Outdoors like the Middle Kingdom. China's landscapes span the range from alpha to omega: take your pick from the sublime sapphire lakes of Tibet or the impassive deserts of Inner Mongolia, island-hop in Hong Kong or bike between fairy-tale karst pinnacles around Yángshuò; swoon before the rice terraces of the south, take a selfie among the gorgeous yellow rapeseed of Wùyuán or hike the Great Wall as it meanders across mountain peaks; get lost in green forests of bamboo or, when your energy fails you, flake out on a distant beach and listen to the thud of falling coconuts.<br>
    <b>Cuisine</b><br>
    The Chinese live to eat and with 1.4 billion food-loving people to feed, coupled with vast geographic and cultural variations in a huge land, expect your tastebuds to be tantalised, tested and treated. Wolf down Peking duck in Běijīng, melt over a Chóngqìng hotpot or grab a seasoned ròujiāmó (shredded pork in a bun) before climbing Huá Shān. Gobble down a steaming bowl of Lánzhōu noodles in a Silk Road street market, raise the temperature with some searing Húnán fare or flag down the dim sum trolley down south. Follow your nose in China and you won't want to stop travelling.<br>
    <b>Diversity</b><br>
    China is vast. Off-the-scale massive. A riveting jumble of wildly differing dialects and climatic and topographical extremes, it's like several different countries rolled into one. Take your pick from the tossed-salad ethnic mix of the southwest, the yak-butter-illuminated temples of Xiàhé, a journey along the dusty Silk Road, spending the night at Everest Base Camp or getting into your glad rags for a night on the Shànghǎi tiles. You're spoilt for choice: whether you’re an urban traveller, hiker, cyclist, explorer, backpacker, irrepressible museum-goer or faddish foodie, China’s diversity is second to none.<br>
  </div>
</div>
</div>
</div>
  <!--country information ends-->

<!--country weather-->

<div class="weather-countries" id="weather" name="weather">
    <h1>The weather in China at the moment: </h1>
    <p>{{ weather["temperature"] }} °C  {{ weather["description"] }}</p>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr><td align="center">
    <img src="http://openweathermap.org/img/w/{{ weather["icon"] }}.png" alt="Image">
  </td></tr>
  </table>
  </div>

<!--country weather ends -->

<!--footer starts-->

<footer class="panel-footer">
    <div id="footer" name="footer">   
      <p>Disclaimer: This website is a study project for CF:G London and all the texts on the website come from lonelyplanet.com.
      <p>Enter your email to stay up-to-date with our news and special offers below.</p>
      <form method="post" action="/email">
        <label> Your email: </label>
        <input type="email" name="email" id="email" required="required">
        <input type="submit" name="submit" value="Submit" id="submit-button">
        </form>
        <div id='social-buttons'><center>
      <a href="https://twitter.com/visitchinanow" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
      <a href="https://www.facebook.com/visitchina/" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
      <a href="https://www.pinterest.co.uk/" target="_blank"> <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" /></a>
    </center>
    </div>
  </footer>
  </body>
  </html>
