<!doctype html>
<head>
  <title>Find your perfect vacation destination</title>
</head>
<body>
  <header>
    <div width="100%" id="header" name="header" style="background:blue"> HEADER </div>
  </header>
  <div name="info" id="info">
    <h1> Your perfect travel destination is... <b>China!</b></h1>
    <p><it>China. The name alone makes you want to get packing. It's going places, so jump aboard, go along for the ride and see where it's headed.</it><br>
    <b>Breathtaking Antiquity</b><br>
    Its modern face is dazzling, but China is no one-trick pony. The world's oldest continuous civilisation isn't all smoked glass and brushed aluminium and while you won't be tripping over artefacts – three decades of round-the-clock development and rash town planning have taken their toll – rich seams of antiquity await. Serve it all up according to taste: collapsing sections of the Great Wall, temple-topped mountains, villages that time forgot, languorous water towns, sublime Buddhist grottoes and ancient desert forts. Pack a well-made pair of travelling shoes and remember the words of Laotzu: 'a journey of a thousand miles begins with a single step'.<br>
    <b>Stupendous Scenery</b><br>
    Few countries do the Big Outdoors like the Middle Kingdom. China's landscapes span the range from alpha to omega: take your pick from the sublime sapphire lakes of Tibet or the impassive deserts of Inner Mongolia, island-hop in Hong Kong or bike between fairy-tale karst pinnacles around Yángshuò; swoon before the rice terraces of the south, take a selfie among the gorgeous yellow rapeseed of Wùyuán or hike the Great Wall as it meanders across mountain peaks; get lost in green forests of bamboo or, when your energy fails you, flake out on a distant beach and listen to the thud of falling coconuts.<br>
    <b>Cuisine</b><br>
    The Chinese live to eat and with 1.4 billion food-loving people to feed, coupled with vast geographic and cultural variations in a huge land, expect your tastebuds to be tantalised, tested and treated. Wolf down Peking duck in Běijīng, melt over a Chóngqìng hotpot or grab a seasoned ròujiāmó (shredded pork in a bun) before climbing Huá Shān. Gobble down a steaming bowl of Lánzhōu noodles in a Silk Road street market, raise the temperature with some searing Húnán fare or flag down the dim sum trolley down south. Follow your nose in China and you won't want to stop travelling.<br>
    <b>Diversity</b><br>
    China is vast. Off-the-scale massive. A riveting jumble of wildly differing dialects and climatic and topographical extremes, it's like several different countries rolled into one. Take your pick from the tossed-salad ethnic mix of the southwest, the yak-butter-illuminated temples of Xiàhé, a journey along the dusty Silk Road, spending the night at Everest Base Camp or getting into your glad rags for a night on the Shànghǎi tiles. You're spoilt for choice: whether you’re an urban traveller, hiker, cyclist, explorer, backpacker, irrepressible museum-goer or faddish foodie, China’s diversity is second to none.<br>
  </div>
  <div id="weather" name="weather" action="/weather">
    <h1>The weather in China at the moment: </h1>
  </div>
  <div id="SM" name="SM" action="/SM">
    <h1>The latest pics from China on Instagram: </h1>
  </div>
  <footer>
      <div id="footer" name="footer"  width="100%"  style="background:blue"> FOOTER
      <p>Disclaimer: This website is a study project for CF:G London and all the texts on the website come from lonelyplanet.com.</p> </div>
    </footer>
  </body>
