<!doctype html>
<head>
  <title>Find your perfect vacation destination</title>
</head>
<body>
  <header>
    <div width="100%" id="header" name="header" style="background:blue"> HEADER </div>
  </header>
  <div name="info" id="info">
    <h1> Your perfect travel destination is... <b>Greece!</b></h1>
    <p><it>Ancient sun-bleached ruins pierce blue skies as the Aegean laps at the endless coastline. And Greek culture is alive with passionate music, inspired cuisine and thrill-seeking activities.</it><br>
    <b>Cultural Treasure Chest</b><br>
    Standing in the shadow of the Acropolis feels other-worldly. Greece is full of such moments. Step into the ring where Olympians first competed. Climb steps hewn out of stone to Meteora’s monasteries, perched atop towering rocks. Contemplate the oracle’s insights from the grandeur of Delphi, take in a starlit drama at an ancient outdoor theatre and be stunned by massive marble sculptures dredged up from the Aegean. But then you’ll encounter bold modern art, the melancholic throb of rembetika (blues songs) and artisans creating new work from traditional techniques. Greece has endless cultural pursuits and a calendar bursting with festivals, holidays and exhibits.<br>
    <b>Wildly Natural</b><br>
    Whether you're a serious adrenalin junkie or dedicated beach bum, Greece will bewitch you. Days melt from one to the next under wide open skies and a sea speckled with islands that deliver the white-sand, palm-fringed beaches of your dreams. Wander along cobbled Byzantine footpaths, hike into volcanoes, watch for dolphins and sea turtles, and cycle through lush forests. Meander through olive groves, idyllic villages and petrified forests. Thrill seekers will discover world-class kitesurfing, wreck diving, and rock-climbing locations with dizzying views. Or simply hop on a boat and set sail into the glittering blue beyond.<br>
    <b>Local Flavours</b><br>
    The secret to Greek cooking is often found in the chef's garden. Basic ingredients such as feta and olive oil are at home across Greece, but the regional produce and cooking styles make travelling here a culinary adventure. Taste herbs and mountain greens you've never heard of, mussels steamed in ouzo, bread baked with olives, and fish straight from the sea. Taste-test regional cheeses: crumbling feta, honeyed soft cheeses and sharp, hard rounds. Find Italian influences in risottos and pastas or Turkish spices woven into delicate sweets. A traditional-cooking renaissance has chefs lifting time-honoured recipes to new gourmet heights.<br>
    <b>Socially Spirited</b><br>
    Socialising is more than a pastime in Greece – it's a way of life. Cafes overflow with teenagers gossiping or older locals in heated debate. Restaurants are filled with long tables for big gatherings and friends amble arm in arm down the street. Squares are the focal point, where life unfolds collectively. Immerse yourself, whether it's a coffee, a shot of ouzo, a chorus on the bouzouki or a local celebration. Greeks are passionate and live life to the fullest, even at the most difficult times. The result is a country seemingly riddled with challenges, yet full of people loving life.
  </div>
  <div id="weather" name="weather" action="/weather">
    <h1>The weather in Athens at the moment: </h1>
  </div>
  <div id="SM" name="SM" action="/SM">
    <h1>The latest pics from Greece on Instagram: </h1>
  </div>
  <footer>
      <div id="footer" name="footer"  width="100%"  style="background:blue"> FOOTER   <p>Disclaimer: This website is a study project for CF:G London and all the texts on the website come from lonelyplanet.com.</p> </div>
    </footer>
  </body>
