<!doctype html>
<head>
  <title>Find your perfect vacation destination</title>
</head>
<body>
  <header>
    <div width="100%" id="header" name="header" style="background:blue"> HEADER </div>
  </header>
  <div name="info" id="info">
    <h1> Your perfect travel destination is... <b>Norway!</b></h1>
    <p><it>The essence of Norway's appeal is remarkably simple: this is one of the most beautiful countries on earth.</it><br>
    <b>Stirring Landscapes</b><br>
    Impossibly steep-sided Norwegian fjords of extraordinary beauty cut gashes from a jagged coastline deep into the interior. Glaciers, grand and glorious, snake down from ice fields that rank among Europe's largest. Elsewhere, the mountainous terrain of Norway's interior resembles the ramparts of so many natural fortresses, and yields to rocky coastal islands that rise improbably from the waters like apparitions. Then, of course, there's the primeval appeal, the spare and staggering beauty of the Arctic. And wherever you find yourself in this most extraordinary country, these landscapes serve as a backdrop for some of Europe's prettiest villages.<br>
    <b>The Call to Action</b><br>
    Enjoying nature in Norway is very much an active pursuit, and this is one of Europe's most exciting and varied adventure-tourism destinations. While some of the activities on offer are geared towards the young, energetic and fearless, most – such as world-class hiking, cycling and white-water rafting in summer, and dog-sledding, skiing and snowmobiling in winter – can be enjoyed by anyone of reasonable fitness. Whether you're here for seemingly endless summer possibilities, or for snowsports and the soul-stirring Northern Lights in winter, these activities are an exhilarating means of getting close to nature.<br>
    <b>Scandinavian Sophistication</b><br>
    The counterpoint to Norway's ever-present natural beauty is found in its vibrant cultural life. Norwegian cities are cosmopolitan and showcase the famous Scandinavian flair for design through the ages. Bergen, Trondheim and Ålesund must surely rank among Europe's most photogenic cities, while contemporary Arctic-inspired architectural icons grace towns and remote rural settings alike. Food, too, is a cultural passion through which Norwegians push the boundaries of innovation even as they draw deeply on a heartfelt love of tradition. At the same time, a busy calendar of festivals, many of international renown, are worth planning your trip around.<br>
    <b>Wonderful Wildlife</b><br>
    When it comes to wildlife, Norway has few peers in Europe. Here you can watch whales – humpback, sperm and orca, depending on the season – off Andenes, Stø or Tromsø, while the interior offers up wild reindeer, prehistoric musk oxen, ponderous elk (moose) or beguiling Arctic foxes. Birdwatching, too, is a highlight, from the puffins of Bleik to the migratory seabirds of Runde and Varanger. But the real prizes inhabit Norway's high Arctic, in Svalbard, where polar bears and walruses are the poster species for a wilderness of rare, dramatic and precarious beauty.<br>
  </div>
  <div id="weather" name="weather" action="/weather">
    <h1>The weather in Norway at the moment: </h1>
  </div>
  <div id="SM" name="SM" action="/SM">
    <h1>The latest pics from Norway on Instagram: </h1>
  </div>
  <footer>
      <div id="footer" name="footer"  width="100%"  style="background:blue"> FOOTER
      <p>Disclaimer: This website is a study project for CF:G London and all the texts on the website come from lonelyplanet.com.</p> </div>
    </footer>
  </body>
