<!doctype html>
<html>
<head>
  <title>Find your perfect vacation destination</title>
  <link href='/static/css/bootstrap.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Chose your next holiday!</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">About us</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Countries <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/country/thailand">Thailand</a></li>
              <li><a href="/country/china">China</a></li>
              <li><a href="/country/greece">Greece</a></li>
              <li><a href="/country/norway">Norway</a></li>
              <li><a href="/country/spain">Spain</a></li>
              <li><a href="/country/switzerland">Switzerland</a></li>
              <li><a href="/country/barbados">Barbados</a></li>
            </ul>
          </li>
        </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

  <header>
    <div width="100%" id="header" name="header" style="background:blue"> HEADER </div>
  </header>

  <div class="container">
    <h1><center><h1> Your perfect travel destination is... <b>Switzerland!</b></h1></center></h1>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src='/static/images/switzerland1.jpg'  style="width:100%" height="300">
      </div>

        <div class="col-sm-4">
          <img src='/static/images/switzerland2.jpg'  style="width:100%" height="300">
        </div>

    <div class="col-sm-4">
      <img src='/static/images/switzerland3.jpg'  style="width:100%" height="300">
    </div>
  </div>
  </div>
  <br></br>

  <div name="info" id="info">
    <div class="container">
      <div class="row"; style="border:1px; border-style:solid; border-color:#3CB371">
        <div class="col-sm-12">
    <p><it>Look beyond the chocolate, cuckoo clocks and yodelling – contemporary Switzerland, land of four languages, is all about once-in-a-lifetime journeys, heart-racing Alpine pursuits and urban culture.</it><br>
    <b>Great Outdoors</b><br>
    Switzerland's ravishing landscapes demand immediate action – grab boots, leap on board, toot bike bell and let spirits rip. Skiing and snowboarding in Graubünden, Bernese Oberland and Central Switzerland are winter choices. When pastures turn green, hiking and biking trails abound in glacier-encrusted mountain areas and lower down along lost valleys, glittering lake shores and pea-green vineyards. View the grandeur from a hot-air balloon or parachute, or afloat a white-water raft. Then there's those must-do-before-death experiences like encountering Eiger's chiselled north face up close or reaching crevassed ice on Jungfraujoch. Most extraordinary of all, you don’t need to be a mountaineer to do it.<br>
    <b>Urban Edge</b><br>
    The perfect antidote to rural beauty is Switzerland's urban edge: capital Bern with its medieval old town and world-class modern art, deeply Germanic Basel and its bold architecture, chic Geneva astraddle Europe’s largest lake, party-loving Lausanne, tycoon magnet Zug and uber-cool Zürich with its riverside bars, reborn industrial west district and atypical street grit. Castles and craft beer, gigs and new-wave restaurants – you’ll find the lot in Swiss cities. And never has the urban been so close to the outdoors: within minutes you can reach nearby peaks, chill at waterfront bars with Alpine views, or enjoy invigorating swims in the Rhine, Aare and Limmat.<br>
    <b>Alpine Tradition</b><br>
    Variety is the spice of rural life in this rich, earthy land where Alpine tradition is rooted in the agricultural calendar and soaring mountains are a dime a dozen. Travels are mapped by villages with timber granaries built on stilts to keep the rats out and chalet farmsteads brightened with red geranium blossoms. Ancient markets, folkloric fairs, flag waving and alp-horn concerts engrave the passing of seasons in every soul. And then there's the food: a hearty and flavoursome gastronomic celebration of gooey cheese desperate to be dipped in, along with velvety chocolate, autumnal game and air-dried meats.<br>
    <b>Avant-Garde Culture</b><br>
    Ever innovative, the Swiss have always embraced the new and the experimental. Capturing the zeitgeist up and down the country are cultural venues, attention-grabbing architecture and avant-garde galleries. Bern's wavy Zentrum Paul Klee bearing architect Renzo Piano’s hallmark, Basel's Frank Gehry–designed Vitra Design Museum and astounding Fondation Beyeler, Lugano's Mario Botta–splashed centre and state-of-the-art MASI gallery, and Geneva's thought-provoking Musée d’Art Moderne et Contemporain in a revamped 1950s factory are just the tip of the cultural iceberg. Even in back-of-beyond corners of the Alps you'll encounter unexpected nods to modern aesthetics, contemporary art and fresh-faced design.<br>
  </div>
</div>
</div>
</div>

  <div id="weather" name="weather" action="/weather">
    <h1>The weather in Switzerland at the moment: </h1>
  </div>
  <div id="SM" name="SM" action="/SM">
    <h1>The latest pics from Switzerland on Instagram: </h1>
  </div>
  <footer>
      <div id="footer" name="footer"  width="100%"  style="background:blue"> FOOTER   <p>Disclaimer: This website is a study project for CF:G London and all the texts on the website come from lonelyplanet.com.</p> </div>
    </footer>
    <p>Enter your email to stay up-to-date with our news and special offers below.</p>
    <form method="post" action="/email">
      <label> Your email: </label>
      <input type="email" name="email" id="email" required="required">
      <input type="submit" name="submit" value="Submit" id="submit-button">
    </form>
  <div id='social-buttons'><center>
      <a href="https://twitter.com/myswitzerland_e" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
      <a href="https://www.facebook.com/MySwitzerlandUK/" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
      <a href="https://www.pinterest.co.uk/" target="_blank"> <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" /></a>
    </center>
  </div>
  </body>
  </html>
