<!doctype html>
<head>
  <title>Find your perfect vacation destination</title>
</head>
<body>
  <header>
    <div width="100%" id="header" name="header" style="background:blue"> HEADER </div>
  </header>
  <div name="info" id="info">
    <h1> Your perfect travel destination is... <b>Thailand!</b></h1>
    <p><it>Friendly and fun-loving, cultured and historic, Thailand radiates a golden hue, from its glittering temples and tropical beaches through to the ever-comforting Thai smile.</it><br>
    <b>A Bountiful Table</b><br>
    Adored around the world, Thai cuisine expresses fundamental aspects of Thai culture: it is generous, warm, refreshing and relaxed. Thai dishes rely on fresh, local ingredients – pungent lemongrass, searing chillies and plump seafood. A varied national menu is built around the four fundamental flavours: spicy, sweet, salty and sour. Roving appetites go on eating tours of Bangkok noodle shacks, seafood pavilions in Phuket, and Burmese market stalls in Mae Sot. Cooking classes reveal the simplicity behind the seemingly complicated dishes, and mastering the market is an important survival skill.<br>
    <b>Fields & Forests</b><br>
    In between the cluttered cities and towns is the rural heartland, which is a mix of rice paddies, tropical forests and squat villages tied to the agricultural clock. In the north, the forests and fields bump up against toothy blue mountains decorated with silvery waterfalls. In the south, scraggy limestone cliffs poke out of the cultivated landscape like prehistoric skyscrapers. The usually arid northeast emits an emerald hue during the rainy season when tender green rice shoots carpet the landscape.<br>
    <b>Sacred Spaces</b><br>
    The celestial world is a close confidant in this Buddhist nation, and religious devotion is colourful and ubiquitous. Gleaming temples and golden Buddhas frame both the rural and the modern landscape. Ancient banyan trees are ceremoniously wrapped in sacred cloth to honour the resident spirits, fortune-bringing shrines decorate humble homes as well as monumental malls, while garland-festooned dashboards ward off traffic accidents. Visitors can join the conversation through meditation retreats in Chiang Mai, religious festivals in northeastern Thailand, underground cave shrines in Kanchanaburi and Phetchaburi, and hilltop temples in northern Thailand.<br>
    <b>Sand between Your Toes</b><br>
    With a long coastline (actually, two coastlines) and jungle-topped islands anchored in azure waters, Thailand is a tropical getaway for the hedonist and the hermit, the prince and the pauper. This paradise offers a varied menu: playing in the gentle surf of Ko Lipe, diving with whale sharks off Ko Tao, scaling the sea cliffs of Krabi, kiteboarding in Hua Hin, partying on Ko Phi-Phi, recuperating at a health resort on Ko Samui and feasting on the beach wherever sand meets sea.<br>
  </div>
  <div id="weather" name="weather" action="/weather">
    <h1>The weather in Thailand at the moment: </h1>
  </div>
  <div id="SM" name="SM" action="/SM">
    <h1>The latest pics from Thailand on Instagram: </h1>
  </div>
  <footer>
      <div id="footer" name="footer"  width="100%"  style="background:blue"> FOOTER   <p>Disclaimer: This website is a study project for CF:G London and all the texts on the website come from lonelyplanet.com.</p> </div>
    </footer>
  </body>
